:root {
    --bg: #faeee7;
    --text: #594a4e;
    --sub-bg: #fffffe;
    --sub-text: #33272a;
    --card-bg: #ffc6c7;
    --hl-text: #ff8ba7;

    font-family: system-ui, —apple-system, Segoe UI, Rototo, Emoji, Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: Emoji;
    src: local("Apple Color Emojiji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
    unicode-range: U+1F000-1F644, U+203C-3299;
}

body {
    margin: 0;
    padding: 3px;
    color: var(--text);
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


h1,
h2 {
    padding-left: 10px;
    padding-right: 10px;
}

input {
    background: var(--sub-bg);
    padding: 5px;
    border: 1px var(--sub-text) solid;
    border-radius: 4px;
    color: var(--text)
}

select {
    background: var(--sub-bg);
    padding: 4px;
    border: 1px var(--sub-text) solid;
    border-radius: 4px;
    color: var(--text);
    font-weight: bold
}

.scroll-bar::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--bg);
}

.scroll-bar::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--bg);
}

.scroll-bar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--hl-text);
}


/* #setting-icon {
    position: fixed;
    right: 2em;
    bottom: 2em;
} */

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #242629;
        --text: #fffffe;
        --sub-bg: #16161a;
        --sub-text: #fffffe;
        --card-bg: #7f5af0;
        --hl-text: #2cb67d;
    }
}