#menu-list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    /* overflow-y: auto; */
    align-self: flex-start;
    background: var(--sub-bg);
    display: flex;
    flex-direction: column;
    /* max-width: 80vh; */
    /* padding: 1.2em; */
    font-size: 0.9rem;

    width: 300px;
    /* height: 100vh; */
    transition: all 300ms
}

#app.hide #menu-list {
    transform: translateX(-300px);
}

#menu-hide {
    height: 2.4em;
    width: 2.4em;

    position: absolute;
    top: 17em;
    right: -1.2em;

    font-size: 1.2rem;
    line-height: 2.4em;
    border-radius: 50%;
    cursor: pointer;
    background: var(--hl-text);
}

.menu-icon-show {
    text-align: left;
    clip: rect(0 1.2em 2.4em 0);
}

.menu-icon-hide {
    text-align: right;
    clip: rect(0 2.4em 2.4em 1.2em);
}

.none {
    display: none;
}

@media screen and (min-width: 650px) {
    #menu-icon {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #menu-hide {
        display: none;
    }
}