#remote-execute span[contenteditable]{
    padding: .2em;

    line-height: 2em;
    color: var(--hl-text);
    border: 1px solid var(--text);
    border-radius: 4px;
}

#remote-execute span[contenteditable]:empty:before{
    content: attr(placeholder);
    color: var(--placeholder);
}

#remote-execute span[contenteditable]:focus {
    content: none;
}