#worktop-bar {
    display: flex;
    flex-direction: column;
}

#worktop-head {
    display: flex;
    flex-direction: column;
}

#worktop-title {
    width: 15em;
}

#worktop-command-list {
    margin-top: 0.8em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
}

#worktop-command-list>.card>div {
    margin: 0 .5em;
    width: unset;
}

#worktop-description {
    width: 18em;
    min-height: 2em;
    max-width: 17.6rem;
    min-width: 16em;
    height: 6em;

    margin: 1em 0;
    background: transparent;
    outline: none;
    color: var(--text);
    border-radius: 4px;
    border: solid 1px;

    transition: all 0.2s ease-out;
}

#worktop-bar .command-head,#worktop-bar .modal-select-item{
    white-space: nowrap
}

#worktop-bar .card{
    display: block;
    align-self: start;
    flex-direction: column;
}

#worktop-bar .card>*{
    display: inline-block;
    margin: .3em .5em;
}

@media screen and (max-width: 650px) {
    #worktop-description {
        max-width: 80vw;
    }
}