.side-bar {
    position: fixed;
    height: 100vh;
    top: 0;
    right: -20em;
    width: 18em;
    transition: right 500ms;
    background: var(--sub-bg);
    color: var(--text);
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.side-bar>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0.8em;
    width: 90%;
    border-bottom: 2px dashed var(--bg);
}

.side-bar>div>div {
    margin-bottom: 0.4em;
    width: 100%;
}

.side-bar h3 {
    margin: 0 0 0.4em;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .side-bar {
        padding: 0;
        width: 100vw;
        right: -110vw;
    }
}